Iconr
build.gradle
gradle.properties
gradlew
gradlew.bat
import-summary.txt
local.properties
settings.gradle
Sights.iml
*.apk
.idea/*
.gradle/*
build/*
gradle/*
app/.gitignore
app/app.iml
app/.idea/*
app/proguard-rules.pro
app/gradle/wrapper/gradle-wrapper.jar
app/gradle/wrapper/gradle-wrapper.properties
app/src/main/res/*
app/src/debug/res/values/*
app/src/release/res/values/*
app/src/main/AndroidManif